<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container px-4">
    <a class="navbar-brand" [routerLink]="['/']">Bluesoft Biblioteca</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink]="['/']">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/categorias']">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/autores']">Autores</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>


