<div class="row pb-4">
    <div class="col-12">
  
      <h1 class="mt-3 mb-4">Autores</h1>
      <div class="d-flex flex-row justify-content-between w-100">
        <form #formAutores="ngForm" (ngSubmit)="create();nombres.reset();apellidos.reset();fecha.reset()">
          <div class="p-2">
            <div class="form-group">
              <input 
                class="form-control form-control-sm" 
                type="text" 
                placeholder="Nombres"
                name="nombres"
                required
                #nombres="ngModel"
                [(ngModel)]="autor.nombres" 
                [ngModelOptions]="{standalone: true}">
                <span style="font-size: 12px; color: red; font-weight: bold;" *ngIf="nombres.touched && !nombres.valid">
                  El campo es requerido
                </span>
            </div>
            <div class="form-group">
              <textarea 
                class="form-control" 
                placeholder="Apellidos" 
                rows="2" 
                cols="50"
                name="apellidos"
                required
                #apellidos="ngModel"
                [(ngModel)]="autor.apellidos"
                [ngModelOptions]="{standalone: true}"></textarea>
                <span style="font-size: 12px; color: red; font-weight: bold;" *ngIf="apellidos.touched && !apellidos.valid">
                  El campo es requerido
                </span>
            </div>
            <div class="form-group">
                <input 
                  class="form-control form-control-sm" 
                  type="date" 
                  name="fecha"
                  required
                  #fecha="ngModel"
                  [(ngModel)]="autor.fecha" 
                  [ngModelOptions]="{standalone: true}">
                  <span style="font-size: 12px; color: red; font-weight: bold;" *ngIf="fecha.touched && !fecha.valid">
                    El campo es requerido
                  </span>
              </div>
            
          </div>
          <div class="px-2">
            <input class="btn btn-sm btn-success" type="submit" value="Crear" *ngIf="!cargando"  [disabled]="!nombres.valid || !apellidos.valid || !fecha.valid">
            <span style="font-size: 12px; color: black; font-weight: bold;" *ngIf="cargando">
              Guardando, Por favor espere...
            </span>
          </div>
        </form>
      </div>
  
      <hr>
      <div *ngFor="let item of autores">
        <form (ngSubmit)="nombres.reset();apellidos.reset();fecha.reset();">
        <div class="pt-1 pb-4 px-2 mt-2 w-100 shadow bg-white">
          <div class="d-flex flex-row justify-content-between w-100">
            <div class="p-2">
              
              <div *ngIf="stateEdit(item.id) === true">
                <div class="form-group">
                    <input 
                      class="form-control form-control-sm" 
                      type="text" 
                      placeholder="Nombres"
                      name="nombres"
                      required
                      #nombres="ngModel"
                      [(ngModel)]="item.nombres" 
                      [ngModelOptions]="{standalone: true}">
                      <span style="font-size: 12px; color: red; font-weight: bold;" *ngIf="nombres.touched && !nombres.valid">
                        El campo es requerido
                      </span>
                  </div>
                  <div class="form-group">
                    <textarea 
                      class="form-control" 
                      placeholder="Apellidos" 
                      rows="2" 
                      cols="50"
                      name="apellidos"
                      required
                      #apellidos="ngModel"
                      [(ngModel)]="item.apellidos"
                      [ngModelOptions]="{standalone: true}"></textarea>
                      <span style="font-size: 12px; color: red; font-weight: bold;" *ngIf="apellidos.touched && !apellidos.valid">
                        El campo es requerido
                      </span>
                  </div>
                  <div class="form-group">
                      <input 
                        class="form-control form-control-sm" 
                        type="date" 
                        name="fecha"
                        required
                        #fecha="ngModel"
                        [(ngModel)]="item.fecha" 
                        [ngModelOptions]="{standalone: true}">
                        <span style="font-size: 12px; color: red; font-weight: bold;" *ngIf="fecha.touched && !fecha.valid">
                          El campo es requerido
                        </span>
                    </div>
              </div>
              <div *ngIf="stateEdit(item.id) === false">
                <h5>{{item.nombres}}</h5>
                <p>{{item.apellidos}}</p>
                <strong>{{item.fecha | date:'yyyy-MM-dd'}}</strong>
              </div>
            </div>
            <div class="pt-4">
              <div *ngIf="cargando == false">
                <button class="btn btn-sm btn-light mx-1" *ngIf="stateEdit(item.id) == false" (click)="activeModeEdit(item.id)">Editar</button>
                <button class="btn btn-sm btn-light mx-1" *ngIf="stateEdit(item.id) == true" (click)="cancelEdit(item.id)">Cancelar</button>
                <input value="Guardar" class="btn btn-sm btn-light mx-1" *ngIf="stateEdit(item.id) == true" (click)="update(item.id)">
                <button class="btn btn-sm btn-light mx-1" *ngIf="stateEdit(item.id) == false" (click)="delete(item.id)">Eliminar</button>
              </div>
              <span style="font-size: 12px; color: black; font-weight: bold;" *ngIf="cargando == true">
                Eliminando, Por favor espere...
              </span>
            </div>
          </div>
        </div>
        </form>
      </div>
  
    </div>
  </div>
