<div class="row mb-4">
    <div class="col-12">

        <h1>Lista de libros</h1>
        <form #formLibros="ngForm" (ngSubmit)="createLibro();nombre.reset();isbn.reset();" style="width: 500px;">
            <div class="form-group">
                <input 
                class="form-control form-control-sm" 
                type="text" 
                placeholder="Nombre"
                name="nombre"
                required
                #nombre="ngModel"
                [(ngModel)]="libro.nombre" 
                [ngModelOptions]="{standalone: true}">
                <span style="font-size: 12px; color: red; font-weight: bold;" *ngIf="nombre.touched && !nombre.valid">
                    El campo es requerido
                </span>
            </div>
            <div class="form-group">
                <input 
                class="form-control form-control-sm" 
                type="text" 
                placeholder="isbn"
                name="isbn"
                required
                #isbn="ngModel"
                [(ngModel)]="libro.isbn" 
                [ngModelOptions]="{standalone: true}">
                <span style="font-size: 12px; color: red; font-weight: bold;" *ngIf="isbn.touched && !isbn.valid">
                    El campo es requerido
                </span>
            </div>
            <div class="d-flex flex-row">
                <label class="font-weight-bold mr-3">Autores: </label>
                <div *ngIf="createAutores.length === 0">
                    <span>No hay autores asignados</span>
                </div>
                <div *ngIf="createAutores.length >= 1" class="d-flex flex-row">
                    <div *ngFor="let autor of createAutores" class="d-flex flex-wrap">
                        <span class="mx-2">{{autor.nombres}} {{autor.apellidos}}</span>
                    </div>
                </div>
                <div class="dropdown mx-3">
                    <button class="btn btn-sm btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Agregar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div *ngFor="let _autor of autores">
                            <button class="dropdown-item" type="button" (click)="createAutores.push(_autor)" >{{_autor.nombres}} {{_autor.apellidos}}</button>
                        </div>
                    </div>
                  </div>
            </div>
            <br>
            <div class="d-flex flex-row">
                <label class="font-weight-bold mr-3">Categorias: </label>
                <div *ngIf="createCategorias.length === 0">
                    <span>No hay categorias asignadas</span>
                </div>
                <div *ngIf="createCategorias.length >= 1" class="d-flex flex-row">
                    <div *ngFor="let categoria of createCategorias" class="d-flex flex-wrap">
                        <span class="mx-2">{{categoria.nombre}}</span>
                    </div>
                </div>
                <div class="dropdown mx-3">
                    <button class="btn btn-sm btn-success dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Agregar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <div *ngFor="let _categoria of categorias">
                            <button class="dropdown-item" type="button" (click)="createCategorias.push(_categoria)" >{{_categoria.nombre}}</button>
                        </div>
                    </div>
                  </div>
            </div>

            <input class="btn btn-sm btn-success" type="submit" value="Crear" [disabled]="!nombre.valid || !isbn.valid">
        </form>

        <hr>   
        
        <form #formBuscadorLibros="ngForm" (ngSubmit)="buscar();" class="form-inline d-flex align-items-start" style="width: 500px;">
            <div class="form-group d-lfex flex-column w-100">
                <input 
                class="form-control form-control-sm w-100" 
                type="text" 
                placeholder="Buscar"
                name="buscador"
                required
                #buscador="ngModel"
                [(ngModel)]="buscadorLibro"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="buscar()"
                aria-describedby="describeBuscador">
                <small id="describeBuscador" class="form-text text-muted w-100">
                    Buscar por libro, autor o categoria...
                </small>
            </div>
            <!-- <input class="btn btn-sm btn-success ml-1" type="submit" value="Buscar" [disabled]="!buscador.valid || !buscador.valid"> -->
        </form>
        
        <hr>
        <div *ngFor="let item of (buscadorIsActive === false) ? librosDetail:librosDetailBuscador">
            <div class="pt-1 pb-4 px-2 mt-2 w-100 shadow bg-white">
                <div class="d-flex flex-row justify-content-between w-100">
                    <div class="p-2">
                        <h4>{{item.nombre}}</h4>
                        <div class="d-flex flex-row mb-2">
                            <label class="mr-2">autores: </label>
                            <div class="d-flex flex-row" *ngFor="let autor of item.autores">
                                <a (click)="buscadorLibro=autor.nombres;buscar()" style="font-size: 12px;" class="text-white d-flex align-items-center mx-1 py-0 btn btn-sm btn-secondary">
                                    {{autor.nombres}} {{autor.apellidos}}
                                </a>
                            </div>
                        </div>
                        <div class="d-flex flex-row mb-2">
                            <label class="mr-2">categorias: </label>
                            <div class="d-flex flex-row" *ngFor="let categoria of item.categorias">
                                <a (click)="buscadorLibro=categoria.nombre;buscar()" style="font-size: 12px;" class="text-white d-flex align-items-center mx-1 py-0 btn btn-sm btn-secondary">
                                    {{categoria.nombre}}
                                </a>
                            </div>
                        </div>
                        <label class="mr-2">isbn: {{item.isbn}}</label>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-end">
                    <button (click)="editLibro(item.id)" type="button" class="btn btn-sm btn-light mx-1" data-toggle="modal" data-target="#modalEditLibro">Editar</button>
                    <button class="btn btn-sm btn-light mx-1" (click)="delete(item.id)">Eliminar</button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalEditLibro" tabindex="-1" role="dialog" aria-labelledby="examplemodalEditLibro" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form #formEditLibros="ngForm" (ngSubmit)="updateLibro();nombreEdit.reset();isbnEdit.reset();" style="width: 350px;">
                        <div class="form-group">
                            <input 
                            class="form-control form-control-sm" 
                            type="text" 
                            placeholder="Nombre"
                            name="nombre"
                            required
                            #nombreEdit="ngModel"
                            [(ngModel)]="libroDetailEdit.nombre" 
                            [ngModelOptions]="{standalone: true}">
                            <span style="font-size: 12px; color: red; font-weight: bold;" *ngIf="nombreEdit.touched && !nombreEdit.valid">
                                El campo es requerido
                            </span>
                        </div>
                        <div class="form-group">
                            <input 
                            class="form-control form-control-sm" 
                            type="text" 
                            placeholder="isbn"
                            name="isbn"
                            required
                            #isbnEdit="ngModel"
                            [(ngModel)]="libroDetailEdit.isbn" 
                            [ngModelOptions]="{standalone: true}">
                            <span style="font-size: 12px; color: red; font-weight: bold;" *ngIf="isbnEdit.touched && !isbnEdit.valid">
                                El campo es requerido
                            </span>
                        </div>
                        <div class="d-flex flex-row">
                            <label class="font-weight-bold mr-3">Autores: </label>
                            <div *ngIf="libroDetailEdit.autores.length === 0">
                                <span>No hay autores asignados</span>
                            </div>
                            <div *ngIf="libroDetailEdit.autores.length >= 1" class="d-flex flex-row">
                                <div *ngFor="let autor of libroDetailEdit.autores" class="d-flex flex-wrap flex-row">
                                    <span class="mx-2">{{autor.nombres}} {{autor.apellidos}}<button (click)="deleteTemporalAutor(autor.id);libroDetailEdit.autores.splice(libroDetailEdit.autores.indexOf(autor), 1)" class="btn btn-sm btn-danger ml-1">x</button></span>
                                </div>
                            </div>
                            <div class="dropdown mx-3">
                                <button class="btn btn-sm btn-success dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Agregar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                    <div *ngFor="let _autor of autores">
                                        <button class="dropdown-item" type="button" (click)="libroDetailEdit.autores.push(_autor)" >{{_autor.nombres}} {{_autor.apellidos}}</button>
                                    </div>
                                </div>
                              </div>
                        </div>
                        <div class="d-flex flex-row">
                            <label class="font-weight-bold mr-3">Categorias: </label>
                            <div *ngIf="libroDetailEdit.categorias.length === 0">
                                <span>No hay categorias asignadas</span>
                            </div>
                            <div *ngIf="libroDetailEdit.categorias.length >= 1" class="d-flex flex-row">
                                <div *ngFor="let categoria of libroDetailEdit.categorias" class="d-flex flex-wrap">
                                    <span class="mx-2">{{categoria.nombre}}<button class="btn btn-sm btn-danger ml-1" (click)="libroDetailEdit.categorias.splice(libroDetailEdit.categorias.indexOf(categoria), 1)">x</button></span>
                                </div>
                            </div>
                            <div class="dropdown mx-3">
                                <button class="btn btn-sm btn-success dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Agregar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                    <div *ngFor="let _categoria of categorias">
                                        <button class="dropdown-item" type="button" (click)="libroDetailEdit.categorias.push(_categoria)" >{{_categoria.nombre}}</button>
                                    </div>
                                </div>
                              </div>
                        </div>
                        <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateLibro()">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>